@tailwind base;
@tailwind components;
@tailwind utilities;


.twemoji {
  width: 100%;
}

.containered {
  box-sizing: border-box;
  padding-left: calc(min(16px, 8vw));
  padding-right: calc(min(16px, 8vw));
  margin: 0 auto;
  max-width: 720px;
}

.link {
  text-decoration-line: underline;
  --tw-text-opacity: 1;
  color: rgb(99 102 241 / var(--tw-text-opacity));
}